*, *::after, *, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Josefin Sans', sans-serif; }

body p, body blockquote {
  font-size: 18px;
  color: #595d5e;
  padding: 0;
  border: none; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 600;
  color: #595d5e; }

.marginTB {
  margin: 50px 0; }

.marginET {
  margin-top: 100px; }

.border-top {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid rgba(128, 128, 128, 0.8); }

/*=======================================================================================
    button Section Style Start
=======================================================================================*/
.button .btn-default {
  padding: 12px 40px;
  color: #2ecc71;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
  border: 2px solid #2ecc71;
  transition: 0.5s;
  -webkit-transition: 0.5s; }
  .button .btn-default:hover {
    background-color: transparent;
    color: #595d5e;
    border-color: #595d5e; }
  .button .btn-default:active {
    background-color: transparent; }
  .button .btn-default:focus {
    outline: none;
    background-color: transparent; }
.button .btn:active {
  box-shadow: none;
  -webkit-box-shadow: none; }

/*=======================================================================================
    Button Section Style End
=======================================================================================*/
/*=======================================================================================
    Banner Section Style Start
=======================================================================================*/
.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 1.5s ease-in-out left;
  -o-transition: 1.5s ease-in-out left;
  transition: 1.5s ease-in-out left; }

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 1; }

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block; }

.carousel-inner > .active {
  left: 0; }

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%; }

.carousel-inner > .next {
  left: 100%; }

.carousel-inner > .prev {
  left: -100%; }

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0; }

.carousel-inner > .active.left {
  left: -100%; }

.carousel-inner > .active.right {
  left: 100%; }

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: transparent; }

.carousel-control:hover, .carousel-control:focus {
  outline: 0;
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90); }

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  z-index: 5;
  display: inline-block; }

.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px; }

.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px; }

.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  line-height: 1;
  font-family: serif; }

.carousel-control .icon-prev:before {
  content: '\2039'; }

.carousel-control .icon-next:before {
  content: '\203a'; }

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
  display: none; }

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: transparent; }

.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #fff; }

.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }

.carousel-caption .btn {
  text-shadow: none; }

#banner .carousel-fade .carousel-inner {
  z-index: 3; }

#banner .carousel-fade .carousel-inner .item {
  transition-property: opacity; }

#banner .carousel-fade .carousel-inner .item,
#banner .carousel-fade .carousel-inner .active.left,
#banner .carousel-fade .carousel-inner .active.right {
  opacity: 0; }

#banner .carousel-fade .carousel-inner .active,
#banner .carousel-fade .carousel-inner .next.left,
#banner .carousel-fade .carousel-inner .prev.right {
  opacity: 1; }

#banner .carousel-fade .carousel-inner .next,
#banner .carousel-fade .carousel-inner .prev,
#banner .carousel-fade .carousel-inner .active.left,
#banner .carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0); }

#banner .carousel-fade .carousel-control {
  z-index: 2; }

#banner .item1 {
  background-image: -webkit-linear-gradient(rgba(120, 0, 60, 0.3), rgba(120, 0, 60, 0.3)), url(../images/my-img-1.jpg);
  background-image: -o-linear-gradient(rgba(120, 0, 60, 0.3), rgba(120, 0, 60, 0.3)), url(../images/my-img-1.jpg);
  background-image: -ms-linear-gradient(rgba(120, 0, 60, 0.3), rgba(120, 0, 60, 0.3)), url(../images/my-img-1.jpg);
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 300px 0 340px 0;
  z-index: -99; }

#banner .item2 {
  background-image: -webkit-linear-gradient(rgba(120, 0, 60, 0.3), rgba(120, 0, 60, 0.3)), url(../images/my-img-2.jpg);
  background-image: -o-linear-gradient(rgba(120, 0, 60, 0.3), rgba(120, 0, 60, 0.3)), url(../images/my-img-2.jpg);
  background-image: -ms-linear-gradient(rgba(120, 0, 60, 0.3), rgba(120, 0, 60, 0.3)), url(../images/my-img-2.jpg);
  background-size: cover;
  /*  background-attachment: fixed; */
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 300px 0 340px 0;
  z-index: -99; }

#banner .item3 {
  background-image: -webkit-linear-gradient(rgba(120, 0, 60, 0.3), rgba(120, 0, 60, 0.3)), url(../images/my-img-3.jpg);
  background-image: -o-linear-gradient(rgba(120, 0, 60, 0.3), rgba(120, 0, 60, 0.3)), url(../images/my-img-3.jpg);
  background-image: -ms-linear-gradient(rgba(120, 0, 60, 0.3), rgba(120, 0, 60, 0.3)), url(../images/my-img-3.jpg);
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 300px 0 340px 0;
  z-index: -99; }

#banner h1 {
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 10px;
  display: inline-block; }

#banner .carousel-caption {
  z-index: 6;
  margin-bottom: 120px; }

#banner .carousel-caption a {
  padding: 1rem 2.5rem;
  border: 2px solid #fff;
  display: inline-block;
  margin-top: 25px;
  font-size: 1.5rem;
  color: #fff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  text-transform: uppercase;
  font-weight: 300; }

#banner .carousel-caption a:hover {
  background-color: hotpink;
  text-decoration: none; }

/*=======================================================================================
    Banner Section Style End
=======================================================================================*/
/*=======================================================================================
    Navbar Section Style Start
=======================================================================================*/
#main-menu #navbar-main {
  /* Added `.affix-top` class css when the element is top */
  /* Added `.affix` class css when the element is >= 170px (Look: line 8 html) */ }
  #main-menu #navbar-main.affixed-top {
    background-color: #595d5e;
    top: 0;
    left: 0;
    right: 0; }
  #main-menu #navbar-main.affix {
    background-color: #595d5e;
    top: 0;
    left: 0;
    right: 0; }
#main-menu .navbar {
  border-radius: 0;
  min-height: 70px;
  margin: 0;
  z-index: 1000; }
#main-menu .navbar-inverse {
  border: 0;
  background-color: #595d5e; }
#main-menu .navbar-inverse .navbar-brand {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
  transition: 0.5s;
  -webkit-transition: 0.5s; }
#main-menu .navbar-inverse .navbar-nav > li > a {
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  margin: 10px 0;
  transition: 0.5s;
  -webkit-transition: 0.5s; }
#main-menu .navbar-inverse .navbar-nav > li > a:hover {
  color: #2ecc71;
  background-color: transparent;
  outline: none; }
#main-menu .navbar-inverse .navbar-nav > .active > a,
#main-menu .navbar-inverse .navbar-nav > .active > a:focus,
#main-menu .navbar-inverse .navbar-nav > .active > a:hover {
  color: #2ecc71;
  background-color: transparent; }

/*=======================================================================================
    Navbar Section Style End
=======================================================================================*/
/*=======================================================================================
    Home Section Style Start
=======================================================================================*/
#home {
  padding: 200px 0;
  z-index: 999; }

/*=======================================================================================
    Home Section Style End
=======================================================================================*/
/*=======================================================================================
    About-me Section Style Start
=======================================================================================*/
#about-me {
  background-color: #f2f2f1;
  padding: 200px 0 100px 0; }
  #about-me .my-details {
    margin-left: 20px; }
    #about-me .my-details h3 {
      margin-bottom: 50px; }
    #about-me .my-details .media {
      padding: 30px 0 0 0; }
      #about-me .my-details .media .media-left i {
        font-size: 30px;
        color: #2ecc71; }
      #about-me .my-details .media .media-body {
        margin-left: 20px; }

/*=======================================================================================
    About-me Section Style End
=======================================================================================*/
/*=======================================================================================
    Skills Section Style End
=======================================================================================*/
#skills {
  padding: 100px 0; }
  #skills .skills-details p {
    margin: 30px 0; }
  #skills .skills-details .skills-progressbar:nth-child(1) {
    margin-top: 40px; }
  #skills .skills-details .skills-progressbar h4 {
    margin-bottom: 15px; }
  #skills .skills-details .skills-progressbar .progress {
    border-radius: 0; }
    #skills .skills-details .skills-progressbar .progress .progress-bar {
      background-color: #2ecc71;
      font-size: 15px; }

/*=======================================================================================
    Skills Section Style End
=======================================================================================*/
/*=======================================================================================
    Resume Section Style Start
=======================================================================================*/
#resume {
  background-color: #fff; }
  #resume #download-resume {
    padding: 150px 0 100px 0;
    background-color: #f2f2f1;
    text-align: center;
    position: relative; }
    #resume #download-resume:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      bottom: -18px;
      left: 50%;
      border-left: 18px solid transparent;
      border-right: 18px solid transparent;
      border-top: 18px solid #f2f2f1; }
    #resume #download-resume:before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      bottom: -18px;
      left: 50%;
      border-left: 18px solid transparent;
      border-right: 18px solid transparent;
      border-top: 18px solid #f2f2f1; }
  #resume #my-education {
    background-color: #fff; }
    #resume #my-education .education-details {
      padding: 100px 0 0 0;
      border-bottom: 1px solid rgba(128, 128, 128, 0.8); }
    #resume #my-education .education-institute h5 {
      display: inline-block;
      padding: 7px;
      color: #fff;
      background-color: #2ecc71; }
  #resume #work-experience {
    padding: 100px 0;
    background-color: #fff; }

#testimonial {
  padding: 150px 0 100px 0;
  background-color: #f2f2f1;
  /*-------------------------------*/
  /*    Carousel Fade Transition   */
  /*-------------------------------*/ }
  #testimonial #fade-quote-carousel.carousel {
    padding-bottom: 60px; }
  #testimonial #fade-quote-carousel.carousel .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity; }
  #testimonial #fade-quote-carousel.carousel .carousel-inner .active {
    opacity: 1;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity; }
  #testimonial #fade-quote-carousel.carousel .carousel-indicators {
    bottom: 10px;
    display: block; }
  #testimonial #fade-quote-carousel.carousel .carousel-indicators > li {
    border: 2px solid #2ecc71; }
  #testimonial #fade-quote-carousel.carousel .carousel-indicators .active {
    background-color: #2ecc71; }
  #testimonial #fade-quote-carousel blockquote {
    text-align: center;
    border: none; }

#portfolio {
  padding: 150px 0 100px 0; }
  #portfolio .portfolio-button {
    margin-bottom: 50px; }
  #portfolio .btn-default.active,
  #portfolio .btn-default:active,
  #portfolio .open > .dropdown-toggle.btn-default {
    background-color: #2ecc71;
    color: #fff; }
  #portfolio .btn-default:active {
    color: #fff;
    background-color: #2ecc71; }
  #portfolio .btn-default:focus {
    color: #fff;
    background-color: #2ecc71; }
  #portfolio .btn {
    border: none;
    padding: 8px 16px; }
    #portfolio .btn:hover {
      background-color: #2ecc71;
      color: #fff; }
  #portfolio .protfolio-list {
    margin-left: -30px; }
    #portfolio .protfolio-list .mix {
      display: none;
      -moz-display: none; }
    #portfolio .protfolio-list .bg-img {
      position: relative;
      overflow: hidden;
      width: 367px;
      margin-bottom: 20px;
      margin-left: 20px; }
      #portfolio .protfolio-list .bg-img:hover > .protfolio-overlay {
        display: block;
        display: block;
        top: 0; }
  #portfolio .protfolio-overlay {
    position: absolute;
    left: 0;
    top: -100%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    transition: 1s;
    -webkit-transition: 1s; }
    #portfolio .protfolio-overlay a {
      text-decoration: none; }
      #portfolio .protfolio-overlay a:focus {
        outline: none; }
    #portfolio .protfolio-overlay i {
      text-transform: uppercase;
      text-align: center;
      margin: 35% 20px;
      font-weight: 600;
      color: #fff;
      font-size: 30px;
      display: inline-block;
      -webkit-transition: 1s;
      transition: 1s; }
      #portfolio .protfolio-overlay i:hover {
        color: #2ecc71; }

#contact-me {
  padding: 150px 0 100px 0;
  background-color: #252e30; }
  #contact-me .contact-address h3 {
    color: #fff; }
  #contact-me .contact-address p span {
    color: rgba(255, 255, 255, 0.7); }
  #contact-me .contact-input label {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 15px; }
    #contact-me .contact-input label span {
      color: #2ecc71; }
  #contact-me .contact-input .form-control {
    border-radius: 0;
    border: none;
    height: 50px;
    margin-bottom: 40px;
    color: rgba(255, 255, 255, 0.7);
    background-color: #4b5456; }
    #contact-me .contact-input .form-control:focus {
      outline: none;
      box-shadow: none; }
  #contact-me .contact-input .btn {
    background-color: #4b5456;
    border: none;
    color: #fff;
    transition: 0.5s;
    -webkit-transition: 0.5s; }
    #contact-me .contact-input .btn:hover {
      background-color: #191f21; }
  #contact-me textarea {
    display: block;
    min-width: 100%;
    max-width: 100%;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 40px;
    background-color: #4b5456; }
    #contact-me textarea:focus {
      outline: none; }

footer {
  text-align: center;
  background-color: #191f21;
  padding: 20px 0; }
  footer .footer-menu {
    margin: 0;
    padding: 0; }
    footer .footer-menu li {
      list-style-type: none;
      display: inline-block; }
      footer .footer-menu li a {
        display: block;
        color: #4b5456; }
        footer .footer-menu li a .fa-inverse {
          color: #000;
          transition: 0.5s;
          -webkit-transition: 0.5s; }
          footer .footer-menu li a .fa-inverse:hover {
            color: rgba(255, 255, 255, 0.7); }

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=index.css.map */
